@charset "utf-8";

/* CSS Document */


body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td,img{padding:0;margin:0;}

body{font-size:12px;font-family:'Arial', 'Microsoft YaHei','\5B8B\4F53';background:#FCFCFC;}

table{border-collapse:collapse;border-spacing:0;}

fieldset, img{border:0;}

address, caption, cite, code, dfn, em, th, i, var, s{font-weight:normal;font-style:normal;}

ol, ul{list-style:none;}

caption,th{text-align:left;}

input, label{vertical-align:middle;}

input{border:0;}

h1, h2, h3, h4, h5, h6,b,p,span{font-weight:normal;font-size:100%;font-family:'Microsoft YaHei';}
h1 { font-size: 3.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 2.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 2.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 1.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.2rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.0rem; line-height: 1.6;  letter-spacing: 0; }
a{text-decoration:none;color:#313131;font-family:'Microsoft YaHei';cursor: pointer;}

a:hover{text-decoration:none;}


.fl{float:left;}

.fr{float:right;}


*html .clear{_height:1%;}

.clear{zoom:1;}

.clear:after{content:'';display:block;clear:both; height:0; visibility:hidden; font-size:0}

.hide{display:none}






/*== 页面属性 == */



.top_line{ width:100%; border-top:5px solid #2D73C8; margin:0 auto;}

.topper{ width:985px; height:25px; margin:auto; padding-top:6px;}

.web{ float:right;margin-top:12px; _margin-top:0px; *margin-top:0px;}

.search{ width:174px; height:23px; float:left; margin-left:20px; background:url(../images/serch.png) no-repeat}

.input{float:left;width:130px;height:23px; line-height:23px;outline: none;border: none;padding-left: 10px;background: none;color:#444;}

.ss{ float: left;width:30px;height:23px;outline: none;border:none;background: none;cursor:pointer;}

.web a{ padding-left:18px; font-size:12px; line-height:23px;}

.web a:hover{ text-decoration:underline}

.on{display: inline-block;}


.menuer{ width:100%; height:75px;margin:auto;position:relative; z-index:5;}
.menu{ width:985px; margin:auto; height:60px;position:relative;  padding-top:22px;}
.menu_logo{  float:left; height:50px; float:left}
.menu_logo img{height: 50px;width: 300px;}
.menu_menu{  float:left; color:#333; margin-top:10px; background:url(../images/menuline.png) no-repeat; _background:none;background-position:129px 18px;*background-position:145px 18px;_background-position:165px 18px;position:relative; z-index:5; }
.nav { float:right; position:relative;color:#FFF; } 
.nav ul .livea{float:left; width:105px; z-index:99;  position:relative; text-align:right;height:45px;line-height:40px;}
.nav ul li {float:left; width:107px; z-index:99;  position:relative; text-align:right;height:45px;line-height:40px;}
.nav ul li a{color:#444;text-decoration:none; padding-bottom:8px;*padding-bottom:5px;  font-size:14px; font-family:'Microsoft YaHei';text-align:center;position:relative;z-index:99;}
.nav ul li a:hover{ border-bottom:3px solid #2D73C8; padding-bottom:8px;*padding-bottom:5px;}
.cure{border-bottom:3px solid #2D73C8; padding-bottom:8px;8padding-bottom:5px; }

.livs{ width:110px; margin-top:-40px; height:281px; position:absolute; left:25%;*margin-top:-10px; _margin-top:-10px; float:left; z-index:10;}
.livs ul{ float:left; width: 110px; padding-top:40px;z-index:10; background: #fff;}
.livs ul li{ height:38px; text-align:left; padding-left:23px; }
.livs ul li a{color:#444;text-decoration:none; font-size:14px; font-family:'Microsoft YaHei';text-align:center;}
.livs ul li a:hover{ color:#ef7d81;border-bottom:none;}

/*.libg{background:url(../images/menubj.png) no-repeat;}
.libg2{background:url(../images/menubj2.png) no-repeat;}
.libg3{background:url(../images/menubj3.png) no-repeat;}*/
.libg{background: #fff;}
.libg2{background: #fff;}
.libg3{background: #fff;}

/*== 公用头部 == */

.foot{ width:100%; height:165px; background:#f9f9f9; margin-top:50px; float:left; border-top:1px solid #dfdede;}

.footin{width:942px; margin:0 auto; padding-top:37px;} 

.footin h1{ width:58px; height:58px; float:left;}

.footin h1 img{width: 58px;height: 58px;}

.footin .fp{ float:left; padding-left:20px; margin-top:5px; font-size:12px; color:#313131;}

.footin .fp p{ padding-bottom:11px; padding-top:3px;}

.footin .fp p a{ height:20px; font-size:12px; color:#fc5474;}

.footin .fp .noe{border:0;padding-left:0px;}



.send{

	position:relative;

	float:right;

	padding-top:1px;

}

.send a{

	float:left;

	width:44px;

	height:44px;

	margin-left:40px;

}

.sina{

	background:url('../images/weibo.png') 0 0 no-repeat;

}



.weixin{

	background:url('../images/xinlang.png') 0 0 no-repeat;

}



.blog{

	background:url('../images/weixin.png') 0 0 no-repeat;

}



.send p{

	position:absolute;

	top:-100px;

	left:95px;

	width:100px;

	height:100px;

	display: none;

}

.send p img{

	width:100px;

	height:100px;

}

/*== 公用底部 == */

.alltop{ width:100%; height:203px;margin:auto; overflow: hidden;}

.alltop img{ width:1920px;}

/*== 附页公用图 == */

.aio{ width:998px; margin:auto; margin-top:20px;}

.gyleft{ width:205px; float:left; margin-right:30px;}





.ko{background-color:#f9f9f9; border:1px solid #dcdcdc; margin-bottom:10px;border-radius: 5px; width:205px; float:left}

.ko ul{ width:205px; padding-bottom:5px; float:left}

.ko h1 { line-height:81px; padding-left:27px; color:#434343; font-size:24px;}

.ko ul li{ line-height:25px; border-top:1px solid #dcdcdc; width:205px;}

.ko ul li a{color:#313131;  font-size:14px;padding-left:27px; }

.ko ul li a:hover{ color:#e60012;}

.ko ul li .dj{color:#e60012;}

.ko ul li span{ float:right; width:10px; height:10px; margin-top:17px; margin-right:10px; *margin-top:-24px; background:url(../images/redsanjiao.png) no-repeat;}



.gybk{ width:205px; float:left; border:1px solid #dcdcdc; margin-bottom:10px;border-radius: 5px; background:#f9f9f9;padding-bottom:15px;}

.gybk .bd{ width:140px; height:30px; margin-left:25px;_margin-left:15px; margin-top:24px; background:url(../images/bkbd.png) no-repeat; float:left; }

.gybk .bd a{ padding-left:40px; font-size:20px; color:#004e72;}

.gybk ul{ width:155px;margin-left:25px;_margin-left:15px; float:left; margin-top:20px; }

.gybk ul li{ line-height:28px; margin-top:5px;}

.gybk ul li a{ font-size:14px; color:#313131;}

.gybk ul li a:hover{ text-decoration:underline;}

.gybk ul li .moren{text-decoration:underline;}



.zclq{ width:205px; float:left;margin-bottom:10px;border-radius: 5px;background-color:#f9f9f9; border:1px solid #dcdcdc;padding-bottom:15px;}

.zclq h1{ float:left; width:133px; margin-top:25px; color:#004e72; font-size:20px; margin-left:30px;_margin-left:15px;}

.zclq h2{ float:left;width:133px; color:#004e72; font-size:20px; margin-left:30px;_margin-left:15px;line-height:30px;font-size:16px; margin-top:10px; color:#313131;}

.zclq h2 span{ background:url(../images/hei.png) no-repeat left; width:6px; height:14px;padding-right:15px; }

.zclq ul{ width:140px; float:left;margin-left:30px;_margin-left:15px;}

.zclq ul li{ width:58px; height:23px; line-height:23px; float:left; margin-top:10px; margin-right:5px;}

.zclq ul li a{ display:block;width:58px; height:23px; font-size:14px; color:#313131; text-align:center}

.zclq ul li a:hover{width:58px; height:23px; background:url(../images/red.png) no-repeat; color:#ffffff;}









.linu2{ width:205px; padding-bottom:10px;border-radius: 5px; background:#f9f9f9; border:1px solid #dcdcdc; float:left; }
.linu2 .linu_down2 a:hover{color: #e60012;}
.linu_up2{ width:180px; margin-left:14px;  _margin-left:7px;float:left; margin-top:30px; *padding-bottom:20px;_padding-bottom:0px; border-bottom:1px solid #dcdcdc;}

.linu_upin2{width:180px; float:left; margin-bottom:20px;}

.linu_upin2 img{ float:left; width:83px; height:83px;}

.linu_upin2 p{ width:85px; float:left; margin-left:10px; margin-top:5px; color:#313131; font-size:16px;}

.linu_upin2 p span{ font-size:24px;margin-top:10px;}

.linu_down2{ width:180px;  float:left; margin-top:10px;margin-left:15px}

.linu_down2 a{ font-size:16px;}







/*== 附页公用左侧 == */

/* 外部引入css */
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}
/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 95%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}


.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }

–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.row{margin-top: 40px;}
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }
blockquote{margin:1em 0;padding: 10.5px 21px;border-left: 5px solid #ccc;color:#2c3f51;border-radius:0 5px 5px 0;}

